# Prepend XAMPP binaries to PATH
export PATH=/opt/lampp/bin:$PATH

# Force PHP and Composer from XAMPP
export PHP=/opt/lampp/bin/php
export COMPOSER=/opt/lampp/bin/composer

# Force MySQL client from XAMPP
export MYSQL=/opt/lampp/bin/mysql
